body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.container {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100vh;
}

.results {
    background-color: rgb(34, 34, 37);
    height: 100px;
    width: 300px;
}
#result {
    color: aliceblue;
    text-align: center;
}

.form {
    display: flex;
    padding: 2em;
    justify-content: space-around;
    padding: 0 2em;
}


.form select{
    padding: 0 2em;
    font-size: 20px;
}

.form fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 1em 0.5em;
}